# ide
.vscode/
.idea/

# env
.env/
.venv/
venv/
venv-nightly/

# project
models/
*.webm
results.txt
out/*

# python
__pycache__/
*.pyc

# jupyter
.ipynb_checkpoints/
scrapbook.ipynb

# misc.
.DS_Store
